body{
  background:lightblue;
  padding:200px;
  margin:10px;
  font-family:arial;
  color: #ff7200;
}
p1{
  font-size:20px;
  font-family:italic;
  color:red;
  font-style:Cursive;
}
img{
  border:dashed;
  padding:200px;
  margin:0px;
}
