.container img{
  width: 400px;
  height: 400px;
  float: center;
  align-items: center;
  text-align: center;
 
}
body{
background-color: royalblue;
}

p{
  text-align: center;
  text-decoration: underline;
  color: yellow;
  font-size: 40px;
  font-family: Helvetica;
  
}
ul li a {
  text-decoration: none;
  color: red;
  font-size: 40px;
  font-family: Arial;
}
.dropdown{
position: relative;
display: inline-block;
}
.dropdown-btn{
  background: blue;
  color:#ff7200;
  padding: 30px 30px;
  border: none;
  font-size: 25px;
  cursor: pointer;
  letter-spacing: 2px;
}
.dropdown-content{
  display: none;
  position: absolute;
  max-width: 200px;
  background-color: #f1f1f1;
  box-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
  z-index: 1;
}

.dropdown-content a{
  color: #333;
  padding: 18px 21px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}
.dropdown-content a:hover{
  background-color: #ddd;
}
.dropdown:hover .dropdown-content{
  display: block;
}




