*{
  padding:0;
  margin:0;
  text-decoration: none;
  list-style:none;
  box-sizing: border-box;
  transition: all .1s linear;
  text-transform: capitalize
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    touch-action: pan-y;
}
h1{
  font-size: 45px;
  color:#333
}
p{
  font-size: 30px;
  color:#333
}

.booking-modify {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-left: 250px;
  margin-top: 200px;
}

.booking-modify form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking-modify label {
  margin-bottom: 10px;
}

.booking-modify input {
  padding: 10px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  width: 200px;
}

.modify-btn,
.cancel-btn {
  background-color: yellow;
  color: #051650;
  border: none;
  padding: 10px 20px;
  font-size: 25px;
  cursor: pointer;
  margin: 10px;
}

.cancel-btn {
  background-color: #f44336;
}

.modify-btn:hover {
  background-color: #3e8e41;
}

.cancel-btn:hover {
  background-color: #f33a3a;
}
tbody{
  font-size: 25px;
}
thead{
  font-size: 30px;
}
input{
  font-size: 25px;
}
nav{
  align-items: center;
  justify-content: space-between;
  width: 130%;
  background-image: linear-gradient(to bottom,#efe3f4 50%, yellow 80%);
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
  z-index: 1000;
}
label.logo{
  color:#051650;
  font-size: 45px;
  padding:10px;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
}
nav ul{
  float: right;
  margin-right:20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px
}
nav ul li a{
  color: #051650;
  padding: 7px 13px;
  border-radius: 3px #42445A;
  font-size: auto;
  text-transform: uppercase;
  text-decoration: none;
}
a.active,a:hover{
  background: yellow;
  transition: .1s;
}
nav ul li ul.dropdown li#42445A{
  display: block;
 
}
nav ul li ul.dropdown{
  width: 100%;
  background: #efe3f4;
  position: absolute;
  z-index: 999;
  display: block;
  
}
.checkbtn{
  font-size: 30px;
  color: orange;
  float: right;
 margin-top: 20px;
  margin-right: 20px;
 cursor:pointer;
}
.checkbtn:hover{
  background:yellow;
  transition: .1s;
}
input[type=checkbox]{
  display: none;
}

.container {
    width:130%;
    max-width: 135%;
    margin-top: 30px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f4f4f4;
    color: #333;
}

tr:hover {
    background-color: #f1f1f1;
}
/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Header Styles */


/* Main Styles */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    
}

.contact-info {
  width: 100%;
  height: 100%;
    background-color: #fff;
    padding: 2rem;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info h2 {
  font-size: 40px;
  text-align: center;
    margin-bottom: 10px;
}

.contact-info p {
  text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

.contact-form {
  width: 100%;
    background-color: #fff;
    padding: 2rem;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

/* Footer Styles */

footer {
    width: 130%;
    background-image: linear-gradient(to  top,#efe3f4 50%, yellow 90%);
    box-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
    color: #333;
    padding: 1rem;
    text-align: center;
    clear: both;
    margin-top: 160%;
    
}
span {
  font: 40em Arial, sans-serif;
  font-size: 45px;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
  font-weight: bold;
}
.fot{
  font-size: 25px;
}
.support-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.support-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.support-section li {
  margin-bottom: 10px;
}

.support-section h2 {
  margin-bottom: 20px;
}

.support-section p {
  margin-bottom: 20px;
}
/* Services Styles */

#services {
    padding: 2rem;
    
}

.service-card {
  align-items: center;
  
    background-color: #efe3f4;
    padding: 1rem;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service-card h3 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 2%;
}
.service-card img{
  width: 70%;
  margin-left: 13%;
  align-items: center;
}
.service-card p{
  text-align: center;
  margin-top: 2%;
}
/* About Styles */

#about {
    padding: 2rem;
}

/* Contact Styles */

#contact {
    padding: 2rem;
}

form {
   
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

button {
    background-color: yellow;
    color:#333
    
}