*{
  padding:0;
  margin:0;
  text-decoration: none;
  list-style:none;
  box-sizing: border-box;
  transition: all .1s linear;
  text-transform: capitalize
}

body{
  background-color:#f9f9f9;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  touch-action:pan-y;
}
.support-section p{
  font-size: 50px;
}
.support-section ul li{
  font-size:40px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile-section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  align-items:cen;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit-button {
  background-color: yellow;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.account-section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

select {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: yellow;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #444
}
.choice-option {
  margin: 5px;
  padding: px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  text-align: center;
 
}

/* Hover effect */
.choice-option:hover {
  background-color: #007bff;
}

/* Selected option style */
.selected {
  background-color: yellow;
  color: #333;
}

/* Grid container */
.choice-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin:0-2px;
}
		
footer{
  background-image: linear-gradient(to  top,#efe3f4 50%, yellow 90%);
  width: 131%;
  color:#333;
  box-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
  text-align: center;
}
.fot{
  font-size: 25px;
}

.support-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.support-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.support-section li {
  margin-bottom: 10px;
}

.support-section h2 {
  margin-bottom: 20px;
}

.support-section p {
  margin-bottom: 20px;

}
.taxi-type-select {
  margin-top: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
label{
  color:#333;
  font-size: 29px
}

.taxi-type-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.taxi-type-option {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.taxi-type-option img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
h2{
  font-size: 40px;
}
.select-btn {
  background-color: yellow;
  color: #051650;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

.select-btn:hover {
  background-color: #3e8e41;
}
rating {
  display: flex;
  align-items: center;
}

.star {
  font-size: 100px;
  color: #ccc;
  cursor: pointer;
  margin: 0 2px;
}

.star.active {
  color: #ffc107;
}

.rating-value {
  font-size: 16px;
  margin-left: 10px;
}
.how_does{
  margin-left:50px;
  
  
}
.how_does p2{
  font-size: 30px;
}

p2{
  color:#333;
  align-items: center;
  font-size: 10px;
  justify-content: center;
  text-align: center;
}
.box{ 
 width: 130%;
  background: transparent;
    box-shadow: rgba(0, 0, 0, 0.70) 0px#9C9FC2 3px 8px;
   border-radius: 20px;
}
.box h3{
  margin-top: 20px;
  color: #333;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-left:30%;
  font-size: 50px;
  
}
.box h3{
  margin-top: 40px;
  color: #333;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-left:30%;
  font-size: 50px;
  
}
.item{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
background: #dbdbdb;
}
.item img{
  width: 45%;
  margin-left:25%;
}
.item p{
  font-family: Arial;
  font-size: italic;
  text-align: center;
 font-size: 35px;
 color: #333;

}
.item a{
  font-size:35px;
  color: blue;
  margin-left: 50%;
}
  
textarea{
  width: 608px;
  height:80px;
  background: transparent;
  font-size: auto;
  box-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
}

.payment-form {
  padding: 20px;
}

.payment-form h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.payment-form .input-field {
  margin-bottom: 20px;
}

.payment-submit-btn {
  background-color: yellow;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 35px;
  box-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
}

/* Add styles for driver tracking */
#map {
  height: 893px;
  width: 73%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
}

iframe{
  margin-top: 35px;
  border-radius: 50px;
 margin-left: 605px;
  position: absolute;
  filter: invert(100%);
  border:0.5px solid #efe3f4;
  box-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
}
form2{
  margin-top: auto;
  margin-left: auto;
  font-size: 50px;
  height: 600px;
  width: 1300px;
  border: 1px solid yellowgreen;
}
.p_logo img{
 height: 200px;
width:700px;
margin-top: 400px;
padding: 20px;
}
span{
  font: 40em Arial,sans-serif;
  font-size:54px;
  color:#fff;
  text-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
  font-weight: bold;
}
span2{
  color:blue;
}
.p_logo img{
  margin-top: 20px;
}
.p_logo a{
 
  color: red;
margin-left: 50px;
  font-size: 34px;

}
h1{
  font-size: 60px;
  margin: 20px;
  font-weight: italic;
  color: #333;
  text-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
}
p{
  font-size: 30px;
  margin: 15px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  color: #051650;
  font-weight: bold;
}
checkbox input{
  border: none;
  background: transparent;
  width: 20px;
  border: none;
}
.checkbox span4{
  font-size: 19px;
  color: royalblue;
  ;
}
input{
  box-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
  background:none;
  width: 600px;
  height: 90px;
 padding: 18px 0;
 font-size: 30px;
}
.input-field{
  background: non;
  margin: 15px 0;
  border-radius: 3px;
  max-height: 120px;
  transition: max-height 0.1s;
}

.input-field i{
  margin-left: 15px;
  color:#051650;
  font-size: 35px
}
.form-box {
  border-radius: 10px;
  font-weight: bold;
  font-size: 35px;
  width: 95%;
  height: 55%;
  max-width: 90%;
  position: relative;
  left: 2%;
  transform: translate(-50, -50);
}
.dropdown{
border-radius: 10px;
width: 250px;
left: 100%;
margin-top:100px;
position: absolute;
display: inline-block;
box-shadow: rgba(0, 0, 0, 070) 2px 6px 16px;
font-family: arial;
}
.dropdown-btn{
  background: transparent;
  color:#051650;
  padding: 7px 7px;
  border: none;
  font-size: 70px;
  cursor: pointer;
  letter-spacing: 2px;
  text-align: center;
  font-weight: bold;
   text-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
}
.dropdown-content{
  position: relative;
  display: none;
  max-width: 250px;
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
  
  z-index: 1;
}

.dropdown-content a{
  color: blue;
  padding: 18px 21px;
  text-decoration: none;
  display: block;
  font-size: 35px;
  box-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
   
}
.dropdown-content a:hover{
  background-color: #e6e6fa;
}
.dropdown:hover .dropdown-content{
  display: block;
}
nav{
  align-items: center;
  justify-content: space-between;
  width: 130%;
  background-image: linear-gradient(to  bottom,#efe3f4 50%, yellow 90%);
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
  z-index: 1000;
}
label.logo{
  color:#051650;
  font-size: 45px;
  padding:10px;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
}
nav ul{
  float: right;
  margin-right:20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px
}
nav ul li a{
  color: #051650;
  padding: 7px 13px;
  border-radius: 3px #42445A;
  font-size: auto;
  text-transform: uppercase;
}
a.active,a:hover{
  background: yellow;
  transition: .1s;
}
nav ul li ul.dropdown li#42445A{
  display: block;
 
}
nav ul li ul.dropdown{
  width: 100%;
  background: #efe3f4;
  position: absolute;
  z-index: 999;
  display: block;
  
}
.checkbtn{
  font-size: 30px;
  color: orange;
  float: right;
 margin-top: 20px;
  margin-right: 20px;
 cursor:pointer;
}
.checkbtn:hover{
  background:yellow;
  transition: .1s;
}
input[type=checkbox]{
  display: none;
}
.button{
  text-align: center;
 margin-top: 20px;
  font-size: 60px;
  color:#333;
  background:none;
  width: 600px;
  justify-content: space-between;
  
}
.button.button{
  color: #555;
  background:linear-gradient(to left, #051650 -1%, yellow 60%);
  box-shadow: rgba(0, 0, 0, 0.50) 0px 3px 8px;
  height: 110px;
  width: 40;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background s;
}
.bttn{
  background:none;
  border:none;
  font-size: 45px;
  color:#051650;
  font-weight: bold;
  
}
#check{
  display: none;
  
}

@media(max-width: 95px){
  label.logo{
    font-size: 30px;
    padding: 0;
    
  }
  nav ul li a{
    display: block;
    border: 3px solid whit;
    font-size: 16px;
  }
@media (max-width: 858){
  .checkbtn{
    display: block;
  }

ul{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #2c3e50;
  top:100px;
  left:-100;
  text-align: center;
  transition: all .5s;
}
nav ul li{
  display: block;
  margin: 50px 0;
  line-height: 30px;
}
nav ul li {
  font-size: 20px;
}
a:hover,a.active{
  background: none;
  color:#0082e6;
}
html{
  font-size: 62.5px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
content{
  position:a ;
  top:100%;
  left: 0;
  display: flex;
  align-content: center;
  justify-content: center;
}
form{
  border: 1px solid black;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  background-color: red;
}
