html,body{
  height: 100%;
}
body{
  background-color:#f9f9f9;
  background-repeat:no-repeat;
  background-position:cover;
  background-size: cover;
  background-attachment: fixed;
  touch-action: pan-y;
}
 a{
   text-decoration: none;
 }

.logo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  padding-top: 14%;
 
}
.container{
  width: 50%;
  height: 100px;
  align-items:center;
}

nav{
  box-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
  border-radius: 20px;
  border: 2px solid yellowgreen;
  background: #fffacd;
}
.form-box{
  box-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 30px;
  width: 95%;
  height: 55%;
  max-width: 24%;
  position: absolute;
  top:20%;
  left:15%;
  transform: translate(-50,-50);
  padding: 50px 350px 80px 80px;
  
}
.form-box h2{
  height: 60px;
  width: 500px;
    border-radius: 15px;
   box-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
  font-size: 45px;
  margin-bottom: 50px;
  position: relative;
color: #051650;

}
.logo{
  padding: 0;
  margin: 0;
  font-size: 50px;
  color:#2f4f4f;
  font-weight: bold;
}

span3{
  padding:70px;
  font-size: 40px;
  color: lightgoldenrodyellow;
  font-weight: italic;
}
h1{
    border-radius: 20px;
  background: linear-gradient(to right, #fffacd -30%, #2f4f4f 80%);
  box-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
}
.button{
  text-align: center;
  font-size: 50px
}
.link a{
  font-size: 20px;
  color:royalblue;
  text-align: center;
  text-decoration:none;
  
  
}

.forgot-password a{
  font-size: 19px;
  color: royalblue;
  text-decoration: none;
  text-align: right;
  float: center;
  top:50;
}
.a{
  font-size: 13px;
  text-decoration: none;
}
.checkbox input{
  border: none;
  background: transparent;
  width: 20px;
  border: none;
}
.checkbox span4{
  font-size: 19px;
  color: royalblue;
  ;
}
input{
  box-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
  background:none;
  width: 500px;
  height: 30px;
 padding: 18px 0;
 font-size: 30px;
}
.input-field{
  background: none;
  margin: 15px 0;
  border-radius: 3px;
  max-height: 120px;
  transition: max-height 0.1s;
}

.input-field i{
  margin-left: 15px;
  color:#051650;
  font-size: 35px
}
.button{
 
  font-size: 46px;
  color:blue;
  background:none;
  width: 500px;
  justify-content: space-between;
  
}
.button.button{
  color: #555;
  background:linear-gradient(to right, Blue 1%, yellow 80%);
  box-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
  height: 80px;
  width: 40;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background s;
}
.bttn{
  background:none;
  border:none;
  font-size: 30px;
  color:darkblue;
  text-decoration: none;

}